/**********************/
/* BELOW 1344px (Smaller Desktop) */
/**********************/

@media (max-width: 84em) {
  .main-nav-list {
    gap: 3.2rem;
  }
}

/**********************/
/* BELOW 940px (Landscape Tablets) */
/**********************/

@media (max-width: 59em) {
  .main-nav-list {
    gap: 2.4rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .subheading-hero {
    font-size: 1.4rem;
  }

  .project-img {
    width: 43rem;
  }

  .project-img-box {
    height: 24rem;
  }

  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* transform: translateX(100%); */

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccesible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**********************/
/* BELOW 890px (Landscape Tablets) */
/**********************/

@media (max-width: 55.63em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    gap: 1.6rem;
    font-size: 1.6rem;
  }

  .text-description {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
    padding: 1.8rem 1.4rem;
  }

  .icon--btn {
    font-size: 3rem;
  }

  .btn--clean:link,
  .btn--clean:visited {
    padding: 1.4rem 0.4rem;
  }

  .project-img {
    width: 40rem;
  }

  .project-img-box {
    height: 21rem;
  }
}

/**********************/
/* BELOW 840px (Tablets) */
/**********************/

@media (max-width: 52.5em) {
  .section-hero .heading-primary {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
  }

  .section-hero .subheading-hero {
    font-size: 1.4rem;
  }

  .hero-img {
    width: 75%;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    gap: 1.2rem;
    font-size: 1.4rem;
  }

  .logo:link,
  .logo:visited {
    font-size: 2.4rem;
  }

  .project-img {
    width: 36rem;
  }

  .project-img-box {
    height: 19rem;
  }

  .section-portfolio .grid {
    gap: 6.4rem;
  }

  .footer-text .text-description {
    font-size: 1.2rem;
  }
}

/**********************/
/* BELOW 740px (Tablets) */
/**********************/

@media (max-width: 46.3em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    gap: 1.6rem;
    font-size: 1.2rem;
  }

  .project-img {
    width: 32rem;
  }

  .project-img-box {
    height: 17rem;
  }

  .section-portfolio .text-description {
    font-size: 1.2rem;
  }

  .about-content {
    column-gap: 6.4rem;
  }

  .text-description--about {
    width: 80%;
  }

  .section-hero .text-description {
    font-size: 1.2rem;
  }

  .subheading-hero {
    margin-bottom: 1.6rem;
  }

  .icon--socials {
    font-size: 4.2rem;
  }

  .icon--nav {
    font-size: 1.6rem;
  }

  .btn--clean:link,
  .btn--clean:visited {
    padding: 1.2rem 0.2rem;
  }

  .icon--btn {
    font-size: 2.4rem;
  }

  .icon--look {
    font-size: 3.6rem;
  }

  .icon--look-small {
    font-size: 2.4rem;
  }

  .icon--footer {
    font-size: 2.4rem;
  }

  .footer .container {
    column-gap: 6.4rem;
  }

  .footer .text-description {
    font-size: 1rem;
    line-height: 1.8;
  }
}

/**********************/
/* BELOW 650px (Tablets) */
/**********************/

@media (max-width: 40.7em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    gap: 1rem;
    font-size: 1rem;
  }

  .logo:link,
  .logo:visited {
    font-size: 2rem;
  }

  .section-hero .heading-primary {
    font-size: 2rem;
  }

  .section-hero .text-description {
    font-size: 1rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.2rem;
    padding: 1.4rem 1rem;
    margin-bottom: 3.2rem;
  }

  .btn--clean:link,
  .btn--clean:visited {
    font-size: 1.2rem;
  }

  .icon--look {
    font-size: 3rem;
  }

  .heading-section {
    font-size: 1.2rem;
  }

  .subheading {
    font-size: 2rem;
  }

  .subheading--skills {
    font-size: 1.4rem;
  }

  .section-skills .heading-section,
  .section-portfolio .heading-section {
    margin-bottom: 3.2rem;
  }

  .project-icon {
    font-size: 3.2rem;
  }

  .section-portfolio .text-description {
    font-size: 1rem;
  }

  .project-img {
    width: 28rem;
  }

  .project-img-box {
    height: 15rem;
  }

  .icon--hobbie {
    font-size: 3.2rem;
  }

  .text-description {
    font-size: 1rem;
  }

  .subheading--education {
    font-size: 1.4rem;
  }

  .subheading--footer {
    font-size: 1.4rem;
  }
}
